body {
    background-color: #1C1C1C;
    font-family: 'Inter', sans-serif;
}

.header {
    color: white;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    padding-top: 60px;
}

.supporting-text {
    color: #D5D4D8;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.main {
    margin: 60px; 
    background-color: #1F2937;
    border: 2px solid #1F2937;
    padding-left: 60px;
    justify-content: center;
}

.generate-btn {
    background-color: #10B981;
    width: 190px;
    height: 40px;
    text-align: center;
    justify-content: center;
    padding: 9px 17px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    margin-bottom: 50px;
    font-weight: 500;
    line-height: 24px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;

}

.password-fields {
    display: flex;
    column-gap: 30px;
    margin-top: 40px;
    margin-bottom: 120px;

}

#password1, #password2 {
    width: 210px;
    height: 40px;
    font-size: 16px;
    background-color: #273549;
    color: #55F991;
    border: none;
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    
}

.border-line {
    border: 1px solid #2F3E53;
    width: 450px;
}
